<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

    <div th:if="${isAuthorized}">
        Hello, <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getName()}"/><br>
        <a href="/auth/logout">logout</a>
    </div>
    <div th:unless="${isAuthorized}">
        <a href="/auth/login">login</a><br>
        <a href="/auth/register">register</a>
    </div>

    <hr/>

    Users:</br>

    <div th:each="user : ${users}">
        <a th:href="@{users/{id}(id=${user.getId()})}" th:text="${user.getName()}"/>
    </div>

</body>
</html>