<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'user - ' + ${user.getName()}"/>
</head>
<body>

    <p th:text="'Name: ' + ${user.getName()}"/>
    <p th:text="'Birth day: ' + ${user.getBirthDay()}"/>

    <div th:if="${isCurrentUser}">
        <a th:href="@{/users/edit}">edit</a><br/>
    </div>
    <div th:unless="${isCurrentUser}">
        <a th:href="@{/users/addToFriends/{id}(id=${user.getId()})}">add to friends</a>
        <div th:if="${isFriend}">
            <a th:href="@{/users/deleteFromFriends/{id}(id=${user.getId()})}">delete from friends</a>
        </div>
        <br/>
        <a th:href="@{/chat/{id}(id=${user.getId()})}">start messaging</a>
    </div>

    <hr/>

    <a th:href="@{/users/{id}/friends(id=${user.getId()})}">friends</a>

    <hr/>

    Posts:
    <br/>
    <div th:if="${isCurrentUser}">
        <a href="/posts/new">new</a>
    </div>
    <div th:each="post : ${posts}">
        <p th:text="@{{time} - {text}(time=${post.getTime()}, text=${post.getText()})}"/>
        <div th:if="${isCurrentUser}">
            <a th:href="@{/posts/{id}(id=${post.getId()})}">edit</a>
            <a th:href="@{/posts/delete/{id}(id=${post.getId()})}">delete</a>
            <br/>
        </div>
    </div>

</body>
</html>