<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'chat with ' + ${companion.getName()}" />
</head>
<body>

    chat with <a th:href="@{/users/{id}(id=${companion.getId()})}" th:text="${companion.getName()}" /></br>
    <a th:href="@{/users/{id}(id=${user.getId()})}">back to profile</a>

    <hr/>

    <div th:each="message : ${messages}">
        <p th:text="${message.getSender().getName()} + ' - (' + ${message.getTime()} + ') ' + ${message.getText()}">
    </div>

    <form th:method="POST" th:action="@{/chat/createNew/{/id}(id=${companion.getId()})}" th:object="${message}">
        <input type="text" th:field="*{text}" id="text">
        <input type="submit" value="submit">
    </form>

</body>
</html>